
 
 @media only screen and (max-width: 600px) {
   .main-container{
    display: block;
    margin-top: 0px;
   }
   .main-container .left, .right{
    width: 100% ;
   }
   .about .aleft{
    display: none;
   }
 }